services:
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    ports:
      - 27017:27017

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: "zookeeper"
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    container_name: "kafka"
    ports:
      - "9092:9092"
    environment:
#      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1 # in case of local deployment
      KAFKA_ADVERTISED_HOST_NAME: kafka # in case of container's mode deployment
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    depends_on:
      - zookeeper

  kafdrop:
    image: obsidiandynamics/kafdrop
    restart: "no"
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
    depends_on:
      - kafka

  vidulum-app:
    image: vidulum-app:latest
    container_name: "vidulum-app"
    ports:
      - 9090:8080
    environment:
      SPRING_DATA_MONGODB_HOST: mongodb
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    links:
      - kafka
      - mongodb
    depends_on:
      - kafka
      - kafdrop

  websocket-gateway:
    image: vidulum-websocket-gateway:latest
    container_name: "websocket-gateway"
    ports:
      - 8081:8081
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      JWT_SECRET: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    links:
      - kafka
    depends_on:
      - kafka
      - vidulum-app
